body{
    margin-left: 13%;
    margin-right: 13%;
}
.lead{
    font-size: 25px;
    
}
.date{
    text-align-last: right;
}
.know{
    text-align-last: center;
    font-size: 25px;
}
.please{
    text-align-last: center;
    font-size: 25px;
}
.cchinese-tom-tom-and-jerry{
    align-items: center;
}
